@font-face {
    font-family: "bagisto-admin";
    src: url("../fonts/bagisto-admin.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.icon-integration:before {
    content: "\e94d";
}
